<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.picture">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_picture"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_picture"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@style/Theme.Picture"
        android:fullBackupContent="true">
        <service android:name=".photo.ui.service.DownloadService"/>
        <service android:name=".player.ui.PlayerServer"/>

        <activity android:name=".main.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="当前包名.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                />
        </provider>


        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="18083036"/>

        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="myyVA6VsAbjCk5gx8dQIOPqU"/>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="fYgYRnQZLW1e6z5XwkaIDmKp6hmi5qRt"/>

    </application>

</manifest>